table {
    border-spacing: 0;
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
}
th{
    border-bottom: 3px solid #888888;
}


td{
    border-bottom: 1px solid #a0a0a0;
    text-align: center;
}
.search{
    width: 500px;
    margin: 20px auto;
    text-align: right;
}